<header>
  <div class="flexbox">
    <div class="center-on-mobiles">
      <div class="logo">
        <a href="/">
          <img src="/img/hacksofdhruv-logo.webp" width="65" height="70" alt="HacksofDhruv Logo">
          <span class="span">Hacksof</span>
          <i class="i">Dhruv</i>
        </a>
      </div>
    </div>
    <nav class="main-nav hide-on-mobiles">
      {% include primary-nav-items.html -%}
    </nav>

    <div class="meta hide-on-mobiles">
      <ul>
        <li><a href="https://github.com/dhruv-ambaliya/" rel="nofollow" target="_blank" title="Check out my GitHub"><i class="fa fa-github-square" aria-hidden="true"></i> GitHub</a></li>
      </ul>
    </div>
  </div>
  <nav class="mobile-nav show-on-mobiles">
    {% include mobile-nav-items.html -%}
  </nav>
</header>